*.nc filter=lfs diff=lfs merge=lfs -text
assets/images/float_figures/*.png filter=lfs diff=lfs merge=lfs -text
assets/videos/* filter=lfs diff=lfs merge=lfs -text
assets/images/float_figures/**/*.png filter=lfs diff=lfs merge=lfs -text
